body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#game-field {
    margin-top: 20px;
    display: inline-grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    width: 400px;
    height: 400px;
}

.cell {
    min-width: 100px;
    min-height: 100px;
    background-color: lightgrey;
    cursor: pointer;
    user-select: none;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goblin {
    width: 100%;
    height: 100%;
    background-image: url('./images/goblin.png');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.hit {
    background-color: greenyellow;
}

.miss {
    background-color: red;
}

/* Кнопки и контролы */
#controls {
    margin-top: 12px;
}

button {
    margin: 0 6px;
    padding: 6px 12px;
    cursor: pointer;
}